
<% if(currentUser){ %>
<div class="user-btns">
      <a href="/foods/<%=food.id%>/edit">
        <button type="button" name="button">EDIT</button>
      </a>

      <form class="" action="/foods/<%=food.id%>?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
      </form>
</div>

<% } else { %>
  <a href="/sessions/new">
  <button type="button" name="button">Add to Favorites</button>
  </a>
  <% } %>
