<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/css/foods_show.css">
  <%- include ('../partials/head.ejs') %>
  <body>

<% if(currentUser){ %>

<div class="user-btns">
      <a href="/foods/<%=food.id%>/edit">
        <button id="edit-btn" type="button" name="button">EDIT</button>
      </a>

      <form  action="/foods/<%=food.id%>?_method=DELETE" method="post">
        <input id="delete-btn" type="submit" value="DELETE">
      </form>
</div>

<% } else { %>
  <a href="/sessions/new">
  <button id="fav-btn" type="button" name="button">Add to Favorites</button>
  </a>
  <% } %>
</body>
</html>
