



<nav class="banner">
    <a href="/foods"><h1>grEAT food</h1></a>
    <% if(currentUser){ %>
      Welcome <%= currentUser.username %>

      <a href="/foods/new">Create new recepie</a>
      <form class="" action="/sessions/?_method=DELETE" method="post">
        <input type="submit" value="Log Out">

      </form>
      <% } else { %>
          <a href="sessions/new">Log In</a>
      <% } %>
</nav>
