
<%- include ('../partials/head.ejs') %>

<nav class="nav-banner">
    <% if(currentUser){ %>

        <a class="nav-a" href="/foods"><h1>gr<span id="eat">EAT</span> food</h1></a>
        <a class="nav-a" href="/users/">Users</a>
        <a class="nav-a" href="/foods/new">Create new recepie</a>
        Welcome <%= currentUser.username %>
        <form class="" action="/sessions/?_method=DELETE" method="post">
          <input type="submit" value="Log Out">
        </form>


      <% } else { %>
        <a class="nav-a" href="/foods"><h1>gr<span id="eat">EAT</span> food</h1></a>
        <a class="nav-a" href="../sessions/new">Log In</a>
        <a class="nav-a" href="../users/new">Sign Up</a>
        <a class="nav-a" href="/users/">Users</a>


      <% } %>
</nav>
