<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include ('./partials/head.ejs') %>

  <body>

    <div class="container">
      <a href="/"><h1>grEAT food</h1></a>
      <a href="/foods">index.ejs</a>
      <% if(currentUser){%>
        <form class="" action="/sessions/?_method=DELETE" method="post">
          <input type="submit" value="Log Out">

        </form>

      <% } else {%>

        <div class="login-container">

          <form class="" action="/sessions" method="post">
            <input type="text" name="username" placeholder="username" required>
            <br>
            <input type="password" name="password" placeholder="password" required>
            <br>
            <input type="submit" value="Log In">

          </form>

              <div class="signup-container">
                Not a Member Yet? <a href="users/new">
                  <button type="button" name="button">Sign up now!</button>
                </a>
              </div>

        </div>

        <%}%>
    </div>
  </body>
</html>
