
<link rel="stylesheet" href="css/main.css">
<%- include ('./partials/head.ejs') %>

  <body>

    <div class="container">
      <nav class="navbar">
        <a id="logo" href="/"><h1>gr<span class="logo-span">EAT</span> food</h1></a>
        <a id="index-link" href="/foods"><span class="recipe-span"><h1>Recipes</h1></span></a>
      </nav>

      <% if(currentUser){%>


      <% } else {%>
        <div class="login-container">
          <form class="" action="/sessions" method="post">
            <input type="text" name="username" placeholder="username" required>
            <br>
            <input type="password" name="password" placeholder="password" required>
            <br>
            <input type="submit" value="Log In">

          </form>
              <div class="signup-container">
                Not a Member Yet? <a href="users/new">
                <button type="button" name="button">Sign up now!</button>
                </a>
              </div>
        </div>

        <%}%>
    </div>
  </body>
</html>
