*{
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
}

.main{
  width: 95%;
  margin: 10px auto;
}

.recipe-feed-nav{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width:100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-image: url('imgs/arrayimg2.jpg');
  background-position:center;
  background-size:cover;
  border-radius: 5px;
  opacity: 90%;
}


.inner-nav{
  position: absolute;
  bottom:  0;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

}

/* Content */

.food-recipes{
  margin: 100px auto 20px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;

}


.recipe-info{
  margin: 20px auto;
  position: relative;
  border-radius: 5px;
  width: 275px;
  height: 275px;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 5px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.recipe-info:hover .image {
  opacity: 0.3;
}

.recipe-info:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 30px;
}

footer {
  text-align: center;
  }
  .footer{
    text-decoration: none;
    color: black;
  }
