*{
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
}

body{
  text-align:center;
}
a {
  text-decoration: none;
}
.top{
  padding-top: 25px;
}
.container{
  background-image: url('imgs/signup.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  padding-bottom: 200px;
  margin: 50px auto;
  border-radius: 5px;

}


.signup-form{
  margin: 25% auto;
  padding: 30px 10px;
  background-color: white;
  width: 50%;
  height: 70%;
  opacity: 75%;
  border-radius: 5px;
  border: 1px solid black;

}

fieldset{
  border: 0;
  width: 70%;
  margin: 0 auto;

}

.signup-form label {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.signup-form input{
  font-size: 20px;
  width: 80%;
  padding: 20px;
  margin: 5px auto;
  opacity: 70%;
}

input[type="submit"] {
width: 90%;
background-color: black;
color: white;
margin: 0 auto;
}
