<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/css/new_recipe.css">
<%- include ('../partials/head.ejs') %>
  <body>

    <%- include ('../partials/nav.ejs') %>


    <div class="container">
      <div class="top">
        <h1>create new recepie</h1>
        <a href="/"> <h2>Go Back</h2> </a>
      </div>

    <form class="new-recipe" action="/foods" method="post">

      <input type="hidden" name="userId" value="<%=currentUser._id%>">
      <br>
      <input type="text" name="name" placeholder="Recepie Name" required>
      <br>
      <input type="text" name="img" placeholder="IMG URL" required>
      <br>
      <textarea type="text" name="ingredients" required>Ingredients
      </textarea>
      <br>
      <input type="text" name="cuisine" placeholder="cuisine" required>
      <br>
      <textarea type="text" name="instructions" required>Instructions:
        </textarea>
        <br>
      <input type="text" name="notes" placeholder="notes">
      <br>
      <select name="diet">
        <option value="none">None</option>
        <option value="halal">Halal</option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian ">Vegetarian </option>
      </select>

      <br>
      <input type="submit" value="Create Recepie">

    </form>
  </div>

</body>
</html>
