<!DOCTYPE html>
<html lang="en" dir="ltr">
 <%- include ('../partials/head.ejs') %>
 <link rel="stylesheet" href="/css/user_index.css">
  <body>
      <%- include ('../partials/nav.ejs') %>
    
            <div class="users-list">

          <% for(let i = 0; i < user.length; i++){ %>
            <div class="">
            <div class="profile-pic">
              </div>
            <a href="/users/<%= user[i].id %>"> <%= user[i].username %> </a>
            </div>
          <% } %>

    </div>


  </body>
</html>
