<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<%- include ('../partials/nav.ejs') %>
    <a href="/foods">Main Page</a> <br>
    <h1>Profile</h1> <br>


    Welcome


  </body>
</html>
